* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Courier Prime', Courier, monospace;
  margin: 0px;
  background: linear-gradient(to bottom, #1374b4, #3243c2) no-repeat fixed;
}

header {
  text-align: center;
}

div#container {
  margin: auto;
  padding: 15px;
  border: 1px solid rgb(56, 56, 56);
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3) ;
  width: 400px;
  background: white;
  color: rgb(66, 66, 66);
  text-align: center;
  animation: entry .5s ease-out .2s both;
}

h1 {
  animation: entry .5s ease-out;
}

h2 {
  animation: entry .5s ease-out .4s both;
}

p {
  text-align: left;
  animation: entry .5s ease-out .6s both;
}

p#copyright {
  text-align: center;
  animation: entry .5s ease-out 1s both;
}

button#play {
  display: block;
  margin: auto;
  font-family: 'Courier Prime', Courier, monospace;
  font-weight: 600;
  color: rgb(19, 116, 180);
  border: rgb(19, 116, 180) solid 3px;
  border-radius: 30px;
  padding: 5px 30px;
  transition: background .3s ease-out;
  cursor: pointer;
  font-size: 18px;
  animation: entry .5s ease-out .8s both;
}

button#play:hover {
  color: white;  
  background: rgb(19, 116, 180);
}

@media only screen and (max-width: 500px) {
  div#container {
    width: 85%;
  }
  h1 {
    font-size: 8vw;
  }
}

@keyframes entry {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}